---
// 10 Instructions in this component

import { Image } from "astro:assets";

//Start editing the component here ↓, choose the path to your logo. ❶

import yourLogo from "../../../assets/icons/planckstar.svg";

// ↓ Here you can add as many columns as you want to your footer. ❷

const links = [
  {
    title: "Main", //← Edit here the name/title of the column. ❸
    sublinks: [
      { subtitle: "Home", href: "#" }, //------ Add your links here wherever you like, ❹
      { subtitle: "Products", href: "#" }, //-- including a label (subtitle) for each one
      { subtitle: "Services", href: "#" }, //-- along with its corresponding path (href).
      { subtitle: "About", href: "#" },
      { subtitle: "Contact", href: "#" },
    ],
  },
  {
    title: "Second", //---------------------------|
    sublinks: [
      { subtitle: "Support", href: "#" }, //------|
      { subtitle: "Security", href: "#" }, //-----| ← Add more columns using this format ❺
      { subtitle: "Accessibility", href: "#" }, //|
      { subtitle: "Careers", href: "#" }, //------|
    ], //-----------------------------------------|
  },
];

//Here you add the path to your social media icons ↓. ❻

import socialLogoFirst from "../../../assets/icons/x.svg";
import socialLogoSecond from "../../../assets/icons/github.svg";
import socialLogoThird from "../../../assets/icons/blackberry.svg";

//↓ You can add as many icons as you like here, along with their links and alt text to follow accessibility best practices. ❼

const socialItems = [
  { icon: socialLogoFirst, href: "x.com", alt: "Icon -----" },
  { icon: socialLogoSecond, href: "github.com", alt: "Icon -----" },
  { icon: socialLogoThird, href: "/blackberry.com", alt: "Icon -----" },
];
---

<!-- Here is where the HTML begins. ❽ -->
<footer class="relative w-full text-white border-white/30 not-content">
  <p
    class="absolute bottom-2 right-2 md:bottom-4 md:right-6 text-xs text-gray-400"
  >
    Copyright "_Edit_Here_" © 2025 All Rights Reserved
  </p>

  <div
    class="flex flex-col md:flex-row justify-around items-center md:items-start py-16"
  >
    <div class="flex flex-col items-center mb-14 md:mb-0">
      <Image class="w-16 mb-4" src={yourLogo} alt="_Your Logo_" />
      <p class="mt-6 mb-4 w-full">
        Subscribe to our newsletter and stay <br /> up to date with upcoming projects.
      </p>
      <form class="font-light" action="/subscribe" method="POST">
        <div class="relative bg-gray-900 p-4 pr-28 rounded-md">
          <input
            type="email"
            id="email"
            name="email"
            placeholder="Enter your email"
            required
            class="outline-none"
          />
          <button
            type="submit"
            class="absolute top-1 bottom-1 right-1 bg-gray-950 px-2 rounded-md cursor-pointer"
            >Subscribe</button
          >
        </div>
      </form>
    </div>

    <div class="flex justify-around mb-8">
      {
        links.map((section) => (
          <div class="flex flex-col last:ml-20">
            <p class="uppercase text-sm">{section.title}</p>
            <ul class="mt-4">
              {section.sublinks.map((link) => (
                <li class="my-2 ml-2">
                  <a
                    href={link.href}
                    class="font-light text-gray-400 hover:text-gray-500"
                  >
                    {link.subtitle}
                  </a>
                </li>
              ))}
            </ul>
          </div>
        ))
      }
    </div>
    <div class="flex flex-col items-center">
      <p class="uppercase text-sm">Social</p>
      <ul class="flex mt-6">
        {
          socialItems.map((icon) => (
            <li class="flex items-center justify-center h-full">
              <a href={icon.href} class="px-3">
                <Image src={icon.icon} alt={icon.alt} />
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</footer>
