---
// 3 Instructions in this component

// Pick the number of circles. ❶
const circlesNumber = 6;

// Choose the color of the circles. ❷
const color = "rgba(190,190,190,0.4)"; 

// Choose the size of the circles (px). ❸
const circlesSize = 6;
---

<div
  id="grid-bg2"
  data-circles={circlesNumber}
  data-color={color}
  data-size={circlesSize}
  class="relative w-full h-80 not-content overflow-hidden opacity-30"
>
</div>

<script>
  const bg2 = document.getElementById("grid-bg2");
  const circlesNumber = bg2.dataset.circles;
  const circlesSize = bg2.dataset.size;
  const color = bg2.dataset.color;

  function drawGrid1() {
    bg2.innerHTML = "";

    const circlesStep = (bg2.offsetWidth - circlesSize) / circlesNumber;

    for (let x = 0; x < bg2.offsetWidth; x += circlesStep) {
      for (let y = 0; y < bg2.offsetHeight; y += circlesStep) {
        bg2.appendChild(document.createElement("div")).style.cssText = `
          position: absolute;
          left: ${x}px;
          top: ${y}px;
          width: ${circlesSize}px;
          height: ${circlesSize}px;
          background-color: ${color};
          border-radius: 50%;
        `;
      }
    }
  }

  drawGrid1();

  window.addEventListener("resize", () => {
    drawGrid1();
  });

</script>
